.footer {
  padding: 20px 0;
  width: 100%;
  height: 90px;
  background-color: var(--footer-bg);
  display: flex;
  align-items: flex-end;
  .container {
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
  }
}
